.item {
    margin: 1rem;
    width: 20%;
    font-family: 'Indie Flower', cursive;
  }

  .content {
    text-align: center;
    vertical-align: baseline;
    padding: 1rem;
    min-height: 7.5rem;
    cursor: pointer;
    position: relative;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }

  .tag {
    color: #fff;
    border-radius: 10px;
    width: 4rem;
    font-family: "Kanit", sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    bottom: 0;
  }
  .learn {
    background-color: #645986;
    border: 2px solid #645986;

  }
  .repeat {
    background-color: #8FE388;
    border: 2px solid #8FE388;
  }
  
  @media screen and (max-width: 800px) {
    .item {
      width: 80%;
    }
  }
  