.item {
    margin: 1rem;
    width: 20%;
    font-family: 'Permanent Marker', cursive;

  }

  .content {
    text-align: center;
    padding: 1rem;
    max-height: 8rem;
    cursor: pointer;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  